torch >= 1.10.0
torchvision >= 0.11.1
tqdm            # not mandatory
tensorboard     # not mandatory
# Ubuntu 20.04, 64bit, Cuda 11.2, Nvidia RTX-3090
# pip install torch==1.10.0+cu111 torchvision==0.11.1+cu111 -f https://download.pytorch.org/whl/torch_stable.html
# pip install tqdm==4.62.3
# pip install tensorboard==2.7.0